body {
  margin: 0;
  padding: 0;
  background-image: url(https://static.vecteezy.com/system/resources/thumbnails/040/173/949/small_2x/ai-generated-textures-textures-background-wallpaper-free-photo.jpg);
  background-repeat: 2;
  background-size: 100%;
}

header { margin: 10px;
    border-left: 5px solid #000000;
    border-right: 5px solid black;
    border-radius: 10px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: justify;
    margin-bottom: 20px;
    background-color: #f2f2f2;
    
    
   
   

}

h1 {
    text-align: center;
}

#a {
    margin-left: 20px;
    float: left;
    width: 45%;  
    padding-left: 60px;
    padding-right: 10px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#b {
    
    margin-right: 20px;
    float: right;    
    width: 45%;  
    padding-right: 60px;
    padding-left: 10px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    box-sizing: border-box;
    
}

p { 
    text-align: justify;
    font-size: 16px;
    color: #000000;
  }
#c {
    padding-bottom: 50px;
    padding-left: 200px;
    padding-right: 200px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #f2f2f2;
    margin-top: 350px;
    border-top: 5px solid #ccc;
    border-left:1px solid #ccc ;
    border-right:1px solid #ccc ;
    border-bottom:1px solid #ccc ;

}
#d {
    margin-left: 20px;
    margin-top: 40px;
    float: left;
    width: 45%;  
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#e {
    margin-right: 20px;
    margin-top: 460px;
    float: right;    
    width: 45%;  
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    box-sizing: border-box;
    
}

footer { 
    padding-top: 30px;
    padding-right: 10px;
    height: 40px;
    text-align: right;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 750px;
    margin-bottom: 10px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    
}
